#nav{
	position: fixed;
	height: 100%; 
	width: 25%;

	background-color: yellow;
}

#body {
	position: relative ;
	float: right;
	height: 500em;
	width: 75%;

	padding: 0em;
	background-color: gray;
}

.content {
	display: inline-block;
}
.date{
	color:yellow;
	font-size: .8em;
	padding: 0;
	margin-top: .1em;
}
.discription{
	width: 35em;
	text-align: justify;
}

.section{
	padding: 1em ;
	background-color: ;
}

a {
	 text-decoration: none;
	 color: black;

}

h2 a:hover {
	font-size: 110%;

}
h4 a:hover {
	font-size: 110%;
	}

body {
	font-family: sans-serif;
}

h1 {
	padding-left: 20px;

}

h2 {
	padding-left: 20px;
	
}
h3 {
	font-size: 10em;	
	opacity: .25;


	margin:  2em 0 .1em 0;
	z-index: -10;
}
h4 {
	font-size: 2em;
	margin: 0;
	padding: 0;
}
img {
	width:18em;
	height:18em;
}
li {
	font-size: 1.5em;
}

li ul li { 
	font-size: .8em;
	color:yellow;

}